<p id="notice"><%= notice %></p>

<h1>Listing Businesses</h1>

<table>
  <thead>
    <tr>
      <th>Razonsocial</th>
      <th>Ruc</th>
      <th>Telefonofijo</th>
      <th>Telefonomovil</th>
      <th>Partidaregistral</th>
      <th>Representantelegal</th>
      <th>Correo</th>
      <th>Direccion</th>
      <th>Linkgooglemaps</th>
      <th>Eliminado</th>
      <th>Districts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.razonsocial %></td>
        <td><%= business.ruc %></td>
        <td><%= business.telefonofijo %></td>
        <td><%= business.telefonomovil %></td>
        <td><%= business.partidaregistral %></td>
        <td><%= business.representantelegal %></td>
        <td><%= business.correo %></td>
        <td><%= business.direccion %></td>
        <td><%= business.linkgooglemaps %></td>
        <td><%= business.eliminado %></td>
        <td><%= business.districts %></td>
        <td><%= link_to 'Show', business %></td>
        <td><%= link_to 'Edit', edit_business_path(business) %></td>
        <td><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_business_path %>
