<p id="notice"><%= notice %></p>

<p>
  <strong>Razonsocial:</strong>
  <%= @business.razonsocial %>
</p>

<p>
  <strong>Ruc:</strong>
  <%= @business.ruc %>
</p>

<p>
  <strong>Telefonofijo:</strong>
  <%= @business.telefonofijo %>
</p>

<p>
  <strong>Telefonomovil:</strong>
  <%= @business.telefonomovil %>
</p>

<p>
  <strong>Partidaregistral:</strong>
  <%= @business.partidaregistral %>
</p>

<p>
  <strong>Representantelegal:</strong>
  <%= @business.representantelegal %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @business.correo %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @business.direccion %>
</p>

<p>
  <strong>Linkgooglemaps:</strong>
  <%= @business.linkgooglemaps %>
</p>

<p>
  <strong>Eliminado:</strong>
  <%= @business.eliminado %>
</p>

<p>
  <strong>Districts:</strong>
  <%= @business.districts %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
