<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @supervisor.company %>
</p>

<p>
  <strong>Nombrep:</strong>
  <%= @supervisor.nombrep %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @supervisor.nombres %>
</p>

<p>
  <strong>Apellidopaterno:</strong>
  <%= @supervisor.apellidopaterno %>
</p>

<p>
  <strong>Apellidomaterno:</strong>
  <%= @supervisor.apellidomaterno %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @supervisor.dni %>
</p>

<p>
  <strong>Telefonos:</strong>
  <%= @supervisor.telefonos %>
</p>

<p>
  <strong>Correopersonal:</strong>
  <%= @supervisor.correopersonal %>
</p>

<p>
  <strong>Eliminado:</strong>
  <%= @supervisor.eliminado %>
</p>

<%= link_to 'Edit', edit_supervisor_path(@supervisor) %> |
<%= link_to 'Back', supervisors_path %>
