<p id="notice"><%= notice %></p>

<h1>Listing Informes</h1>

<table>
  <thead>
    <tr>
      <th>Jefe</th>
      <th>Fecha visita</th>
      <th>Supervisor</th>
      <th>Company</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @informes.each do |informe| %>
      <tr>
        <td><%= informe.jefe %></td>
        <td><%= informe.fecha_visita %></td>
        <td><%= informe.supervisor.nombrep %> <%= informe.supervisor.apellidopaterno %></td>
        <td><%= informe.company.razonsocial %></td>
        <td><%= informe.student.nombreP %> <%= informe.student.ApellidoPaterno %></td>
        <td><%= link_to 'Show', informe %></td>
        <td><%= link_to 'Edit', edit_informe_path(informe) %></td>
        <td><%= link_to 'Destroy', informe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Informe', new_informe_path %>
