<p id="notice"><%= notice %></p>

<p>
  <strong>Jefe:</strong>
  <%= @informe.jefe %>
</p>

<p>
  <strong>Fecha visita:</strong>
  <%= @informe.fecha_visita %>
</p>

<p>
  <strong>Supervisor:</strong>
  <%= @informe.supervisor %>
</p>

<p>
  <strong>Company:</strong>
  <%= @informe.company %>
</p>

<p>
  <strong>Student:</strong>
  <%= @informe.student %>
</p>

<p>
  <strong>Aspectos monitor:</strong>
  <%= @informe.aspectos_monitor %>
</p>

<p>
  <strong>Aspectos estudiante:</strong>
  <%= @informe.aspectos_estudiante %>
</p>

<p>
  <strong>Problemas seguridad:</strong>
  <%= @informe.problemas_seguridad %>
</p>

<p>
  <strong>Soluciones seguridad:</strong>
  <%= @informe.soluciones_seguridad %>
</p>

<p>
  <strong>Problemas estudiante:</strong>
  <%= @informe.problemas_estudiante %>
</p>

<p>
  <strong>Soluciones estudiante:</strong>
  <%= @informe.soluciones_estudiante %>
</p>

<p>
  <strong>Problemas monitor:</strong>
  <%= @informe.problemas_monitor %>
</p>

<p>
  <strong>Soluciones monitor:</strong>
  <%= @informe.soluciones_monitor %>
</p>

<p>
  <strong>Problemas puesto:</strong>
  <%= @informe.problemas_puesto %>
</p>

<p>
  <strong>Soluciones puesto:</strong>
  <%= @informe.soluciones_puesto %>
</p>

<%= link_to 'Edit', edit_informe_path(@informe) %> |
<%= link_to 'Back', informes_path %>
