<%= simple_form_for(@blockssupervisor) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :supervisor %>
    <%= f.association :block %>
    <%= f.input :idtecsem %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
