<p id="notice"><%= notice %></p>

<h1>Listing Blockssupervisors</h1>

<table>
  <thead>
    <tr>
      <th>Supervisor</th>
      <th>Block</th>
      <th>Idtecsem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blockssupervisors.each do |blockssupervisor| %>
      <tr>
        <td><%= blockssupervisor.supervisor %></td>
        <td><%= blockssupervisor.block %></td>
        <td><%= blockssupervisor.idtecsem %></td>
        <td><%= link_to 'Show', blockssupervisor %></td>
        <td><%= link_to 'Edit', edit_blockssupervisor_path(blockssupervisor) %></td>
        <td><%= link_to 'Destroy', blockssupervisor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blockssupervisor', new_blockssupervisor_path %>
