<p id="notice"><%= notice %></p>

<p>
  <strong>Supervisor:</strong>
  <%= @blockssupervisor.supervisor %>
</p>

<p>
  <strong>Block:</strong>
  <%= @blockssupervisor.block %>
</p>

<p>
  <strong>Idtecsem:</strong>
  <%= @blockssupervisor.idtecsem %>
</p>

<%= link_to 'Edit', edit_blockssupervisor_path(@blockssupervisor) %> |
<%= link_to 'Back', blockssupervisors_path %>
