<p id="notice"><%= notice %></p>

<p>
  <strong>Specialty:</strong>
  <%= @block.specialty %>
</p>

<p>
  <strong>Semestre:</strong>
  <%= @block.semestre %>
</p>

<p>
  <strong>Ciclo academico:</strong>
  <%= @block.ciclo_academico %>
</p>

<p>
  <strong>Bloque:</strong>
  <%= @block.bloque %>
</p>

<p>
  <strong>Dia semana:</strong>
  <%= @block.dia_semana %>
</p>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
