<%= simple_form_for(@pea_avance) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :pea %>
    <%= f.input :dominio %>
    <%= f.input :oper_ejecutar %>
    <%= f.input :oper_seminario %>
    <%= f.association :informe %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
