<%- model_class = PeaAvance -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:pea_id) %></th>
      <th><%= model_class.human_attribute_name(:dominio) %></th>
      <th><%= model_class.human_attribute_name(:oper_ejecutar) %></th>
      <th><%= model_class.human_attribute_name(:oper_seminario) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pea_avances.each do |pea_avance| %>
      <tr>
        <td><%= link_to pea_avance.id, pea_avance_path(pea_avance) %></td>
        <td><%= pea_avance.pea_id %></td>
        <td><%= pea_avance.dominio %></td>
        <td><%= pea_avance.oper_ejecutar %></td>
        <td><%= pea_avance.oper_seminario %></td>
        <td><%=l pea_avance.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pea_avance_path(pea_avance), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pea_avance_path(pea_avance),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pea_avance_path,
            :class => 'btn btn-primary' %>
