<p id="notice"><%= notice %></p>

<h1>Listing Pea Avances</h1>

<table>
  <thead>
    <tr>
      <th>Pea</th>
      <th>Dominio</th>
      <th>Oper ejecutar</th>
      <th>Oper seminario</th>
      <th>Informe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pea_avances.each do |pea_avance| %>
      <tr>
        <td><%= pea_avance.pea %></td>
        <td><%= pea_avance.dominio %></td>
        <td><%= pea_avance.oper_ejecutar %></td>
        <td><%= pea_avance.oper_seminario %></td>
        <td><%= pea_avance.informe %></td>
        <td><%= link_to 'Show', pea_avance %></td>
        <td><%= link_to 'Edit', edit_pea_avance_path(pea_avance) %></td>
        <td><%= link_to 'Destroy', pea_avance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pea avance', new_pea_avance_path %>
