<p id="notice"><%= notice %></p>

<p>
  <strong>Pea:</strong>
  <%= @pea_avance.pea %>
</p>

<p>
  <strong>Dominio:</strong>
  <%= @pea_avance.dominio %>
</p>

<p>
  <strong>Oper ejecutar:</strong>
  <%= @pea_avance.oper_ejecutar %>
</p>

<p>
  <strong>Oper seminario:</strong>
  <%= @pea_avance.oper_seminario %>
</p>

<p>
  <strong>Informe:</strong>
  <%= @pea_avance.informe %>
</p>

<%= link_to 'Edit', edit_pea_avance_path(@pea_avance) %> |
<%= link_to 'Back', pea_avances_path %>
