<%- model_class = PeaAvance -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:pea_id) %>:</strong></dt>
  <dd><%= @pea_avance.pea_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dominio) %>:</strong></dt>
  <dd><%= @pea_avance.dominio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:oper_ejecutar) %>:</strong></dt>
  <dd><%= @pea_avance.oper_ejecutar %></dd>
  <dt><strong><%= model_class.human_attribute_name(:oper_seminario) %>:</strong></dt>
  <dd><%= @pea_avance.oper_seminario %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              pea_avances_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_pea_avance_path(@pea_avance), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              pea_avance_path(@pea_avance),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
