<%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :district %>
    <%= f.input :razonsocial %>
    <%= f.input :ruc %>
    <%= f.input :telefonofijo %>
    <%= f.input :telefonomovil %>
    <%= f.input :partidaregistral %>
    <%= f.input :representantelegal %>
    <%= f.input :correo %>
    <%= f.input :direccion %>
    <%= f.input :linkgooglemaps %>
    <%= f.input :eliminado %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
