<p id="notice"><%= notice %></p>

<p>
  <strong>District:</strong>
  <%= @company.district %>
</p>

<p>
  <strong>Razonsocial:</strong>
  <%= @company.razonsocial %>
</p>

<p>
  <strong>Ruc:</strong>
  <%= @company.ruc %>
</p>

<p>
  <strong>Telefonofijo:</strong>
  <%= @company.telefonofijo %>
</p>

<p>
  <strong>Telefonomovil:</strong>
  <%= @company.telefonomovil %>
</p>

<p>
  <strong>Partidaregistral:</strong>
  <%= @company.partidaregistral %>
</p>

<p>
  <strong>Representantelegal:</strong>
  <%= @company.representantelegal %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @company.correo %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @company.direccion %>
</p>

<p>
  <strong>Linkgooglemaps:</strong>
  <%= @company.linkgooglemaps %>
</p>

<p>
  <strong>Eliminado:</strong>
  <%= @company.eliminado %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
