<%- model_class = Pea -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:specialty_id) %></th>
      <th><%= model_class.human_attribute_name(:ciclo) %></th>
      <th><%= model_class.human_attribute_name(:detalle) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @peas.each do |pea| %>
      <tr>
        <td><%= link_to pea.id, pea_path(pea) %></td>
        <td><%= pea.specialty_id %></td>
        <td><%= pea.ciclo %></td>
        <td><%= pea.detalle %></td>
        <td><%=l pea.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pea_path(pea), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pea_path(pea),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pea_path,
            :class => 'btn btn-primary' %>
